
body {
    margin: 0;
    padding: 0;
    min-width: 500px;
}

.page {
    height: 100vh;
    overflow-x: hidden;
    perspective: 3px;
    background-color: rgb(228, 223, 170);
}
.page::-webkit-scrollbar{
    display: none;
}

.page div {
    position: relative;
    justify-content: center;
    align-items: center;
    cursor:default;
}
.page span{
    cursor:default;
}
/*基本图片*/
.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateZ(-1px) scale(1.35);
    height: 100vh;
    z-index: -1;
}
/*第一个图片，主图片*/
.main_background {
    display: flex;
    height: 110vh;

    background-color: rgb(38, 48, 69);
    background-image: url(../resourse/pictures/pixel_PC.png);
}

.main_title {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    transform: translateY(-85vh) translateZ(1px);
    color: rgb(94, 141, 224);
    font-family: "SmileySans", sans-serif;
    font-size: 150px;
    font-weight: 600;
}

.main_title_box {
    display: inline-block;
    height: 170px;
    overflow: hidden;
}

.main_title_fixed {
    display: block;
    float: right;
    border-top: 0;
    margin: 0;
}

.main_title_changing {
    display: block;
    margin: 0;
    float: left;
    list-style: none;
    animation: change 5s infinite;
    animation-timing-function: ease-in-out;
}

.main_title_changing_item {
    height: 170px;
}

@keyframes change {

    0%,
    30%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    50%,
    80% {
        transform: translate3d(0, -50%, 0);
    }
}

.main_info {
    display: flex;
    transform: translateY(-80vh) translateZ(1px);
    color: rgb(189, 134, 105);
    font-family: "SmileySans", sans-serif;
    font-size: 25px;
}

.main_info_box {
    position: relative;
    display: inline-block;
    height: 30px;
    overflow: hidden;
}

.main_info_fixed {
    display: inline;
    float: left;
    margin: 0 0;
}

.main_info_changing {
    float: right;
    text-align: left;
    list-style: none;
    transition: transform 0.5s ease-in-out 1s;
}

.main_info_changing:hover {
    transform: translate3d(0, -50%, 0);
    transition-delay: 0s;
}

.main_info_changing_item {
    height: 30px;
}


.library_background {
    display: flex;
    top: 10vh;
    height: 110vh;
    background-color: rgb(189, 134, 105);
    background-image: url(../resourse/pictures/pixel_TV.png);
}

.library_title {
    display: flex;
    justify-content: left !important;
    transform: translateY(-65vh) translateX(22%) translateZ(1px);
    color: rgb(85, 39, 0);
    font-family: "SmileySans", sans-serif;
    font-size: 100px;
}

.library_search {
    display: flex;
    justify-content: left !important;
    transform: translateY(-62vh) translateX(22%) translateZ(1px);
    height: 150px;
}

.library_search_box {
    width: 25vw;
}

.library_search_info {
    color: rgb(228, 223, 170);
    font-family: "SmileySans", sans-serif;
    font-size: 25px;
}

.library_search_input_box {
    top: 2vh;
    width: 20vw;
}

.library_search_input_box input {
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: rgb(189, 134, 105);
    border: 2px solid rgba(220, 180, 148, 0.3);
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.library_search_input_box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(220, 180, 148, 0.8);
    transition: 0.2s;
}

.library_search_input_box input:valid,
.library_search_input_box input:focus {
    border-color: rgb(228, 223, 170);
}

.library_search_input_box input:valid~span,
.library_search_input_box input:focus~span {
    color: rgb(228, 223, 170);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    overflow-y: hidden;
    background-color: rgb(189, 134, 105);
    border-left: 1px solid rgb(228, 223, 170);
    border-right: 1px solid rgb(228, 223, 170);
    letter-spacing: 0.1em;
}

.library_search_button {}

/*预约维修部分*/
.appointment_background {
    display: flex;
    top: 10vh;
    height: 100vh;
    background-color: rgb(228, 223, 170);
    background-image: url(../resourse/pictures/pixel_BUS.png);

}

.appointment_title {
    display: flex;
    padding-left: 0.5em;
    color: rgb(155, 142, 30);
    font-family: "SmileySans", sans-serif;
    font-size: 100px;
}

.appointment_book {
    display: flex;
    flex-direction: column;
    transform: translateY(-50vh) translateX(13%) translateZ(1px);
    height: 150px;
}

.appointment_book_info_box {
    margin-top: 2em;
}

.appointment_book_info {
    color: rgb(155, 142, 30);
    height: 1.5em;
    font-family: "SmileySans", sans-serif;
    font-size: 2em;
}

.appointment_book_button_box {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
}

.appointment_book_button {
    z-index: 1;
    position: relative;
    font-family: "SmileySans", sans-serif;
    font-size: 30px;
    color:rgb(228, 223, 170);
    padding: 0.3em 1em;
    border: 0;
    outline: none;
    background-color: rgb(155, 142, 30);
    transition: all 0.25s ease-in-out;
}


.appointment_book_button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(228, 223, 170);
    transform-origin: center left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.appointment_book_button:hover {
    color: rgb(155, 142, 30);
    cursor: pointer;
    padding: 0.3em 0.5em;
    transform: translateX(0.5em);
}

.appointment_book_button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}
.appointment_book_button_pointer{
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgb(228, 223, 170);
    transform: translateX(-0.5em);
    transition: all 0.25s ease-in-out;
}
.appointment_book_button:hover~span{
    border-left: 1em solid rgb(155, 142, 30);
    transform: translateX(1em);
}
